POSTGRESQL_HOST="HOSTNAME"
POSTGRESQL_PORT=5432
POSTGRESQL_DATABASE="DATABASE"
POSTGRESQL_USER="USERNAME"
POSTGRESQL_PASSWORD="PASSWORD"

FILES_PATH = "files" #Do not include the last slash in the path. Example: "files" instead of "files/". The last slash will be added automatically.